@font-face {
    font-family:"IBMPlexMono-Bold";
    src: url('/fonts/IBMPlexMono-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family:"IBMPlexMono-Regular";
    src: url('/fonts/IBMPlexMono-Regular.ttf');
    font-weight: 400;
}

.Header {
    background-image: url(assets/cover-image-dark.svg); 
    width: 1024px;
    height: 768px;
    background-color: #000028;

    
    
    
}

.container {
    margin: 0 auto;
    position: relative;
    width: min-content;

}

.navigation {

    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
  
}
.navigation button {
    color: #ff0070;
    border: none;
    background-color: transparent;
    padding: 0 13px;
    
}

.navigation button:hover {
    cursor: pointer;
    border: solid #ff0070;
}

h1 {
    font-weight: 700;
    line-height: 83%;
    text-shadow: 4px 4px #ff0070;
    color:var(--text-colorlh1);
    margin: 0;
    font-size: 157px;
    color: #db00ff;
    font-family: "IBMPlexMono-Bold", sans-serif;
    position: absolute;
    top: 319px;
}

.rec {
    font-family: "IBMPlexMono-Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    text-align: center;
    color: #ff0070;
    position: absolute;
    left: 943px;
    top: 20px;
    right: 48px;
    margin: 0;

}
.rec::after {
 background: #ff0070;
 box-shadow: 0 0 4px 2px #ff0070;
 border-radius: 100%;
 width: 9px;
 height: 9px;
 content: "";
 position: absolute;
 top: 8px;
 left: 43px; 
 
}
    

body {
    background-color: #000028;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swerxu {
    border-top: 1px solid #ff0070;
    border-right: 1px solid #ff0070;
    top: 20px;
    left: 979px;
    right: 20px;
    width: 25px;
    height: 25px;
    position: absolute;
}

.snizu {
    border-bottom: 1px solid #ff0070;
    border-left: 1px solid #ff0070;
    top: 723px;
    left: 20px;
    width: 25px;
    height: 25px;
    position: absolute;


    
}

.vopros {
    width: 491px;
    height: 70px;
    position: absolute;
    left: 513px;
    top: 563px;
    background: #ff0070;
    font-family: "IBMPlexMono-bold" , sans-serif;
    font-size: 18px;
    line-height: 130%;
    font-weight: 700;
    color: #000028;
}

.Title2 {
  font-family: "IBMPlexMono-bold" , sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #ff0070; 
  width: 314.96px;
  height: 47px;
  left: 20px;
  margin: 0;

}

.qoqan {
  font-family: "IBMPlexMono-bold" , sans-serif;
  width: 649px;
  height: 23px;
  background: #ff0070;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #000028;
}

.pupa {
    font-family: "IBMPlexMono-Reguular" , sans-serif;
    width: 649px;
    height: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #f1b2ce;
}

main {
    align-self: center;
}

.section1 {
    height: 508px;
    width: 1024px;
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
    margin-top: 60px;
    padding: 0 20px;

}

.wsd {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 648px;

}

.section2 {
    height: 498px;
    width: 1024px;
    padding: 0 20px;
    display: flex;
    gap: 0;
    margin-bottom: 80px;
    flex-direction: column;
    margin-top: 83px;
    top: 1416px;
    
    
}

.wsd2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 984px;
}

.qoqan2 {
    font-family: "IBMPlexMono-Bold" , sans-serif;
    width: 315px;
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background: #ff0070;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 1024px;
    height: 1015px;
    padding-right: 20px;
    padding-left: 20px;
    top: 1994px;
    gap: 0;
    margin-bottom: 80px ;
    
}

.qoqan-table {
    font-family: "IBMPlexMono-bold" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #000028;
    background: #ff0070;
    width: 649px;
    height: 23px;
    
}

.qoqan3 {
    font-family: "IBMplexMono-Regular" sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 130%;
    color:#000028;
    background: #ff0070;
    width: 649px;
    height: 23px;
    top: 43px;
}

.wsd3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 649px;
    height: 1015px;
    left: 355px;
    position: relative;
    
    
}   



